body {
	/*background: #ff8a54;*/
	 background:#f8b627da url("pic/mirror_beer2.jpg");
	 background-attachment: fixed;
	/* Фон страницы фиксируется */
	 background-size: 90%;
	 background-repeat: repeat-x;
	/* Изображение повторяется по горизонтали */
	 font-family: "comic sans ms", Courier;
	 color: #EF7D55;
	 font-size: 14pt;
}
 h1 {
	 text-align: center;
	 font-size: 22pt;
}
 .container {
	 display: flex;
	 text-align: center;
}
 #lightBeer {
	 margin-left: 60px;
	 padding: 30px;
}
/*Группа элементов log in*/
 .loginBtn {
	 text-align: center;
	 padding: 40px;
	 padding-left: 280px;
}
/*обрабатываем внешний вид ссылки*/
 a {
	 text-decoration: none;
	 color: #ccc;
}
/*непосещенная a:link {
	 color: #EF7D55;
	 border-bottom: 1px dashed;
}
 посещенная a:visited {
	 color: #EF7D55;
}
 не нажатая a:hover {
	 color: #EF7D55;
	 border-bottom: .07em solid;
}
 нажатая a:active {
	 color: #EF7D55;
	 border-bottom: 1px dashed;
}
*/
 .registrationBtn {
	 font-size: 18pt;
	 padding-left: 40px;
}
/*стиль для кнопки sign in*/
 input[type=submit] {
	 font-family: "comic sans ms", Courier;
	 background: #FFFFFF;
	 font-size: 16pt;
	 padding:2px 7px;
	 border:0 none;
	 cursor:pointer;
	 -webkit-border-radius: 5px;
	 border-radius: 5px;
}
 input[type=text] {
	 background-color: #ffe;
	/* Цвет фона */
	 padding:2.5px;
	 border:2px solid #EF7D55;
	 -webkit-border-radius: 5px;
	 border-radius: 5px;
}
 input[type=password] {
	 border:2px solid #EF7D55;
	 -webkit-border-radius: 5px;
	 border-radius: 5px;
	 padding-top: 5px;
	 background-color: #ffe;
	/* Цвет фона */
}
 #language{
	 font-family: "comic sans ms", Courier;
	 background: #ccc;
	 font-size: 12pt;
	 padding:2px 7px;
	 border:0 none;
	 cursor:pointer;
	 -webkit-border-radius: 5px;
	 border-radius: 5px;
	 background-color: transparent;
	 border:2px solid #EF7D55;
	 color: #ccc;
}
 .top-panel {
	 display: inline-flex;
	 padding: 20px;
}
/*поля юзернейм и пароль*/
 .login-fields {
	 font-size: 16pt;
}}